<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlocker.theme.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.xlocker.theme.lockscreen"
            android:resource="@xml/lockscreen" />

        <activity
            android:name="com.xlocker.theme.sample.ThemeMainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xlocker.theme.sample.ThemeSettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.xlocker.theme.settings"
            android:value="com.xlocker.theme.sample.ThemeSettings" />
    </application>

</manifest>